.btn-archive:hover * {
  color: #28a745!important
}

.btn-remove:hover * {
  color: #dc3545!important
}

.btn-tag:hover * {
  color: #007bff!important
}

.btn-favorite:hover * {
  color: #ffc107!important
}

.btn-unfavorite:hover * {
  color: #6c757d!important
}
