
<div *ngIf="articles && config" class="mt-3">
  <div class="card w-100" *ngFor="let article of articles">
    <div class="card-body">
      <div class="row">
        <div class="col-auto no-gutters" (click)="navigateToArticle.emit(article)">
          <img src="https://dummyimage.com/100x80/000/fff" class="card-img-top" alt="...">
        </div>
        <div class="col">
          <h5 class="card-title" (click)="navigateToArticle.emit(article)">{{article.title}}</h5>
          <div class="row">
            <div class="col-auto">
              {{article.source.name}}
            </div>
            <div class="col">
              <span *ngFor="let tag of article.tags" class="badge badge-secondary ml-1">{{tag.name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="text-muted">{{ article.text | timeToComplete :article.index: config.speedRead }} left</span>
            </div>
          </div>
        </div>
        <div class="col-auto text-center">
            <app-article-options
              [article]="article"
              (archive)="archive.emit($event)"
              (remove)="remove.emit($event)"
              (tag)="tag.emit($event)"
              (favorite)="favorite.emit($event)">
            </app-article-options>
        </div>
      </div>
    </div>
  </div>
</div>
