
<div *ngIf="article && textInArray">
  <div (click)="playOrPauseBody()" [class.invisible]="reading()">
    <div class="row">
      <div class="col">
          <h1>{{article.title}}</h1>
      </div>
    </div>
    <p class="text-muted text-center">{{ article.text | timeToComplete :indexWord:speedStart }} left</p>
    <div class="row">
      <div class="col">
        {{article.source.name}}
      </div>
      <div class="col text-right">
        <a [href]="article.url" target="_blank">Exibir original</a>
        <div>
            <span *ngFor="let tag of article.tags" class="badge badge-secondary ml-1">{{tag.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div (click)="playOrPause()">
    <p *ngIf="!isFinish()" class="text-center display-4" [innerHtml]="textInArray[indexWord]"></p>
    <p *ngIf="isFinish()" class="text-center display-4">
      Completed
    </p>
  </div>
  <div (click)="playOrPauseBody()">
    <div class="row pt-5" [class.invisible]="reading()">
      <div class="col text-center">
          <i class="fas fa-backward fa-lg p-3" (click)="_backward()" aria-hidden="true"></i>
      </div>
      <div class="col text-center">
          <i class="fas fa-stop-circle fa-lg p-3" (click)="_stop()" aria-hidden="true"></i>
      </div>
    </div>
    <div [class.invisible]="reading()">
      <hr class="mb-3">
      <div class="row mt-2">
        <div class="col text-center">
            <h4><span>{{speedStart}}</span>&nbsp;<span class="text-muted ">WPM</span></h4>
        </div>
      </div>
      <input type="range" class="custom-range" min="50" value="{{speedStart}}" max="1000" step="10" #ranger (input)="_setupSpeed(ranger.value)" />
    </div>
  </div>
</div>
