<div class="container-fluid" *ngIf="article && config">
  <div class="row p-3 border text-secondary">
    <div class="col">
      <a href="javascript:void(0)" (click)="OnBack()"><i class="fas fa-arrow-left fa-lg mr-4"></i></a>
      <a href="javascript:void(0)" (click)="OnArchive()"><i class="fas fa-check fa-lg mr-4"></i></a>
      <a href="javascript:void(0)" (click)="OnRemove()"><i class="fas fa-trash fa-lg mr-4"></i></a>
      <a href="javascript:void(0)" (click)="OnTag()"><i class="fas fa-tag fa-lg mr-4"></i></a>
      <a href="javascript:void(0)" (click)="OnFavorite()"><i class="fas fa-star fa-lg mr-4"></i></a>
    </div>
    <div class="col text-center font-weight-bold">
      {{article.title}}
    </div>
    <div class="col text-right">
        <i class="fas fa-share fa-lg mr-4"></i>
        <i class="fas fa-font fa-lg mr-4"></i>
    </div>
  </div>
  <div class="container mt-5">
    <app-read-runner
      [article]="article"
      [speed]="config.speedRead"
      (start)="start.emit()"
      (pause)="OnPause($event)"
      (finish)="pause.emit()"
      (loading)="loading.emit()"
      (changeSpeed)="OnChangeSpeed($event)"
    ></app-read-runner>
  </div>
</div>
