<div class="container-fluid" *ngIf="article && config">
  <div class="row p-3 border">
    <div class="col">
      <a href="javascript:void(0)" (click)="OnBack()"><i placement="bottom" ngbTooltip="Voltar" class="fas fa-arrow-left fa-lg mr-4 text-muted"></i></a>
      <app-article-options
        [article]="article"
        (archive)="archive.emit($event)"
        (remove)="remove.emit($event)"
        (tag)="tag.emit($event)"
        (favorite)="favorite.emit($event)">
      </app-article-options>
    </div>
    <div class="col text-center font-weight-bold">
      {{article.title}}
    </div>
    <div class="col text-right">
        <i placement="bottom" ngbTooltip="Compartilhe" class="fas fa-share fa-lg mr-4"></i>
        <i placement="bottom" ngbTooltip="Opções de exbição" class="fas fa-font fa-lg mr-4"></i>
    </div>
  </div>
  <div class="container mt-5">
    <app-read-runner
      [article]="article"
      [speed]="config.speedRead"
      (start)="start.emit()"
      (pause)="OnPause($event)"
      (finish)="pause.emit()"
      (loading)="loading.emit()"
      (changeSpeed)="OnChangeSpeed($event)"
    ></app-read-runner>
  </div>
</div>
